<div class="hidden-auth">
  <button *ngIf="authService.isLoggedIn !== true" type="button" (click)="authService.GoogleAuth()">
  </button>
  <button *ngIf="authService.isLoggedIn" type="button" (click)="authService.SignOut()">
  </button>
</div>
<div class="wrapper">
  <div class="center"> <a routerLink="/"><div class="site-title">{{ username }}</div></a></div>
</div>
<div class="wrapper site-description">
  <div class="center">
  {{ userintro }}
 </div>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" routerLink="/">about</a>
    <span class="exclamationMark">/</span>
    <a class="page-link" routerLink="/posts">posts</a>
    <span class="exclamationMark" *ngIf="authService.isLoggedIn">/</span>
    <a class="page-link" routerLink="/write" *ngIf="authService.isLoggedIn">write a post</a>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading small-site-title">{{ username }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1 site-description">
        <p>{{ userintro }}</p>
      </div>
      <div class="footer-col footer-col-2 footer-content">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/jaywalnut310">
              <i class="fa fa-fw fa-github"></i>
              Github
            </a>
          </li>
          <li>
            <a href="https://scholar.google.com/citations?user=-ZJaGikAAAAJ">
              <i class="ai ai-google-scholar-square ai-fw" aria-hidden="true"></i>
              Google Scholar
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jaywalnut310">
              <i class="fa fa-fw fa-linkedin-square"></i>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="mailto:jaywalnut310@gmail.com">
              <i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>
              Email
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list footer-content" style="list-style: lower-alpha;">
          <li>The design of this website is inspired by <a href="http://github.com/hemangsk/Gravity">Gravity</a>, <a href="https://mehulk05.github.io/Blog-Book">Blog Book</a> and <a href="https://jonbarron.info/">Jon Barron's blog</a></li>
          <li>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
          <li>© 2021 {{ username }}.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
